<configuration>
    <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
      <!-- Optional : filter logs at or above a level -->
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>INFO</level>
      </filter>
      <log>epoxi-core.log</log> <!-- Optional : default java.log -->
      <resourceType>gae_app</resourceType> <!-- Optional : default: auto-detected, fallback: global -->
      <enhancer>io.epoxi.cloud.logging.LogEntryEnhancer</enhancer> <!-- Optional -->
      <flushLevel>INFO</flushLevel> <!-- Optional : default ERROR -->
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <!-- encoders are assigned the type
           ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
      <encoder>
        <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
      </encoder>
    </appender>

    <logger name="io.grpc" level="info" >
      <appender-ref ref="STDOUT" />
    </logger>

    <logger name="io.epoxi" level="info" additivity="false">
      <appender-ref ref="STDOUT" />
      <appender-ref ref="CLOUD" />
    </logger>

    <root level="info">
      <appender-ref ref="CLOUD" />
      <appender-ref ref="STDOUT" />
    </root>
  </configuration>
